#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}


/* edge {

} */

ul.ordering li span {
    width: 12px;
    height: 12px;
    background: red;
    display: inline-block;
    margin-right: 6px;
}