html,
body {
    height: 100%;
    overflow-y: hidden;
}


/* canvas {

} */

#cy-similarity,
#cy-prereqs {
    width: 80%;
    /* flexbox 4: 1
    height:95 temp soln until bottom navbar?
    */
    height: 95%;
    display: block;
    position: fixed;
}


/* edge {

} */

ul.ordering li span {
    width: 12px;
    height: 12px;
    background: red;
    display: inline-block;
    margin-right: 6px;
}