html,
body {
    height: 100%;
    /* overflow-y: hidden; */
    display: flex;
    flex-direction: column;
}

body>* {
    flex-shrink: 0;
}


/* canvas {

} */

#cy-similarity,
#cy-prereqs {
    width: 100%;
    /* flexbox 4: 1
    height:95 temp soln until bottom navbar?
    */
    height: 95%;
    display: block;
    position: fixed;
}


/* edge {

} */

li.external-link {
    list-style-type: circle;
}

ul.ordering li span {
    width: 12px;
    height: 12px;
    background: red;
    display: inline-block;
    margin-right: 6px;
}

details summary.ads::-webkit-details-marker {
    color: #e6194b
}

details summary.comparch::-webkit-details-marker {
    color: #f58231
}

details summary.fm::-webkit-details-marker {
    color: #ffe119
}

details summary.sec::-webkit-details-marker {
    color: #3cb44b
}

details summary.ai::-webkit-details-marker {
    color: #4363d8
}

details summary.cs::-webkit-details-marker {
    color: #911eb4
}

details summary.graphics::-webkit-details-marker {
    color: #a9a9a9
}

details summary.db::-webkit-details-marker {
    color: #000000
}

details summary.conc::-webkit-details-marker {
    color: #9a6324
}


/* .fas {
    pointer-events: initial
} */