version: "3.2"
services: 
  db:
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./db-data:/var/lib/postgresql/data
  # dbrestore:
  #   image: postgres
  #   volumes:
  #     - ./db-data:/var/lib/postgresql/data
  #   entrypoint:  # could prob make this a bash file with extra checks
  #     ['gunzip', '-c', 'db-dumps/dump.gz', '|', 'psql', '-U', 'postgres']
  #   depends_on: 
  #     - db
  # rest is hotload
  # nginx:
  #   build: client/
  #   ports:
  #     - ${NGINX_PORT}:80